.product{
  border:1px solid #999;
  padding:15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: calc(100% / 4 - 10px);
}
.flex{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
button{
  padding: 10px 30px;
  border:none;
  background: #fff;
  color: black;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: flex-end;
}
.justify-content-start{
  justify-content: flex-start;
}
.product img{
  max-width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.text-center{
  text-align: center;
}
.addCart{
  cursor: pointer;
  border-radius: 5px;
  background: #e1fa00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}